:root {
    --primary-color: #111827;
    --body-text-color: #4B5563;
    --vibrant-color: #0EA5E9;
    --border-color: #E5E7EB;
    --default-bg: #FFFFFF;
    --gray-bg: #F8F8F8;

}

h1 {
    font-size: 64px;
    font-weight: 600;
}

h2 {
    font-size: 36px;
    font-weight: 600;
}

h3 {
    font-size: 24px;
    font-weight: 600;
}

h4 {
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
}

h5 {
    font-size: 16px;
    font-weight: 600;
}